In [1]:
spark.read.parquet('data/part-00000-f4ca74d7-c62d-4f48-83b6-a066de51d92d-c000.snappy')

NameError: name 'spark' is not defined

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [3]:
spark

In [5]:
empwithdepDF = spark.read.parquet('part-00000-f4ca74d7-c62d-4f48-83b6-a066de51d92d-c000.snappy.parquet')

In [6]:
empwithdepDF.show()

+----------+---------+--------+--------+----------+------------+---------------+
|EmployeeID|FirstName|LastName|  Salary|  HireDate|DepartmentID| DepartmentName|
+----------+---------+--------+--------+----------+------------+---------------+
|         4|    Emily|Williams|58000.00|2018-09-03|           1|Human Resources|
|         2|     Jane|   Smith|55000.00|2019-05-20|           2|        Finance|
|         1|     John|     Doe|60000.00|2020-01-15|           3|          Sales|
|         3|   Robert| Johnson|62000.00|2021-03-10|           4|      Marketing|
|         5|  Michael|   Brown|65000.00|2022-02-28|           5|    Engineering|
+----------+---------+--------+--------+----------+------------+---------------+

In [7]:
empwithdepDF.createOrReplaceTempView('empwithdepTable')

In [8]:
spark.sql('SELECT AVG(Salary) AS avgSalarybyDep,DepartmentName FROM empwithdepTable GROUP BY DepartmentName').show()

+--------------+---------------+
|avgSalarybyDep| DepartmentName|
+--------------+---------------+
|  60000.000000|          Sales|
|  65000.000000|    Engineering|
|  55000.000000|        Finance|
|  62000.000000|      Marketing|
|  58000.000000|Human Resources|
+--------------+---------------+